*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    align-items: center;
    text-align: center;
    background-color: #f59898;
    }

    
nav ul{
        list-style-type: none;
        margin: 0;
        padding: 0;
        position: sticky;
        top: 0;
        overflow: hidden;
        background-color: #333;
        font-size: 20px;
        font-weight: bold;
        text-decoration: underline;
        font-family: Arial, Helvetica, sans-serif;
    }

    li{float: left;}
    
li a{
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }
    
li a:hover{background-color: #111;}

footer{
    border-style: solid; 
    background-color: rgb(177, 204, 130);
    border-radius: 15px;
    margin-top: 500px;
    font-size: 25px;
}

#imagenlogo{
    border-style: solid;
    border-color: rgb(0, 0, 0);
}
